<footer class="mt-auto pt-5 pb-2 mt-5 mt-xl-auto">
  <div class="subscribe container text-black py-4 mb-5">
    <div class="row px-3">
      <div class="col-md-6">
        <h4>Subscribe to get notified</h4>
        <p>
          Subscribe to our newsletter and be informed about all our new updates.
        </p>
      </div>
      <div class="col-md-6">
        <form class="d-flex mt-2" role="search">
          <div class="input-group">
            <input class="form-control" placeholder="Enter Your Email" />
            <button class="btnn text-white" type="submit">subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container mt-5 footer-content">
    <div><app-white-logo></app-white-logo></div>
    <div class="row mt-4">
      <div class="col-md-4 pb-2">
        <div class="footer-icons mt-2 mb-1">
          <div class="d-flex mb-2">
            <div class="icons me-2">
              <i class="fa-brands fa-instagram text-white"></i>
            </div>
            <div class="icons mx-2">
              <i class="fa-brands fa-linkedin-in text-white"></i>
            </div>
            <div class="icons mx-2">
              <i class="fa-brands fa-youtube text-white"></i>
            </div>
            <div class="icons mx-2">
              <i class="fa-brands fa-facebook-f text-white"></i>
            </div>
          </div>
          <div class="d-flex flex-column">
            <span class="mb-2">About Us</span>
            <span class="mb-2">Terms & policy</span>
            <span class="mb-2">Privacy</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="services d-flex flex-column">
          <span class="mb-2 fw-bold fs-3">Services</span>
          <span class="mb-2">Application</span>
          <span class="mb-2">Acceptance</span>
          <span class="mb-2">Visa</span>
          <span class="mb-2">Housing</span>
          <span class="mb-2">In France</span>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="contact-us d-flex flex-column text-white">
          <span class="mb-2 fw-bold fs-3">Contact us</span>
          <div class="mb-3">
            <i class="fa-solid fa-phone me-2"></i>
            <span>+33 6 34 66 74 97</span>
          </div>
          <div class="mb-3">
            <i class="fa-regular fa-message me-2"></i>
            <span>adminstudentgator.com</span>
          </div>
          <div class="mb-3">
            <i class="fa-solid fa-location-dot me-2"></i>
            <span>Address: 5 Av. de Celle, 92360 Meudon, France</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <p>© 2024 StudentGator All rights reserved.</p>
  </div>
</footer>
