li .active-link {
  color: var(--main-color) !important;
  border-bottom: var(--main-color) 3px solid;
}

li .nav-link {
  color: #121212;
  font-weight: 400;
}

i {
  color: #121212;
  transition: all 0.2s;
}

i:hover {
  color: #6f77f4;
  cursor: pointer;
}

.icons-div-responsive {
  display: none !important;
}

@media (max-width: 912px) {
  .navbar {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .icons-div {
    display: none !important;
  }

  .icons-div-responsive {
    display: block !important;
    z-index: 9999999;
  }

  .active-link {
    border: none !important;
  }

  .nav-item {
    cursor: pointer;
  }

  li {
    transition: all 1s;
  }

  li:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
}
