/*header section*/
header {
  background-color: var(--header-background);
  position: relative;
}
h1 {
  font-weight: 600;
}
.input-group {
  position: relative;
  width: 100%;
}
.form-control {
  width: 100%;
  border-radius: 10px !important;
}
.input-group .btnn {
  position: absolute;
  right: 2%;
  top: 15%;
  bottom: 5%;
  height: 70%;
  background-color: #6f77f4;
  padding: 14px;
  border-radius: 20% !important;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  color: var(--main-color);
}
.cover-container {
  position: relative;
  width: 100%;
}
.cover-image {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.logo-image {
  position: absolute;
  bottom: -30px;
  left: 10px;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/*filteration */

.filter {
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  padding-top: 10px;
  background: #f6f0f6;
  z-index: 999999;
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}
.filter-responsive {
  display: none;
}

@media (max-width: 912px) {
  .filter-responsive {
    display: block;
    position: absolute;
    top: 100%;
  }
  .modal-footer > * {
    background-color: var(--main-color);
  }
  .modal-content {
    background: #f6f0f6;
  }
  .filter-btn {
    background-color: var(--main-color);
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
  .filter {
    display: none;
  }
}
@media (max-width: 1285px) {
  .Language {
    margin-right: 5px;
  }
  .fee {
    background-color: none;
  }
}
/*card section*/
.oneProgram {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.love-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #e31a6a;
}
.category {
  background-color: #e9ebfb;
  font-weight: 500;
}
.fee {
  background-color: #fdd5d5;
  font-weight: 500;
}
