<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="content pt-5">
          <h1 class="my-5">
            More than 1000 programs in 80 Schools around the world.
          </h1>
          <form class="d-flex" role="search">
            <div class="input-group">
              <input
                class="form-control py-3 ps-3"
                type="search"
                placeholder="Search for programs, schools..."
                aria-label="Search"
              />

              <button class="btnn" type="submit">
                <i
                  class="fa-solid fa-magnifying-glass"
                  style="color: #ffffff"
                ></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 ms-auto col-sm-12">
        <div class="img my-5 pb-4">
          <app-header-img></app-header-img>
        </div>
      </div>
    </div>
  </div>
  <div class="filter container text-black py-3 mb-3 px-3">
    <div
      class="row d-flex justify-content-center align-items-center text-center"
    >
      <div class="col-xl-2 col-lg-3 col-md-4 mb-3">
        <div class="btn-group">
          <button
            type="button"
            class="btn dropdown-toggle px-5 bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            School
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cesi</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">ESAIP</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">ESSCA Business Scho</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">TOULOUSE Business S </a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 mb-3">
        <div class="btn-group">
          <button
            type="button"
            class="btn dropdown-toggle px-5 bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Field
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Business and management</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Computer science</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Engineering and technology </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Arts, Design </a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 mb-3">
        <div class="btn-group">
          <button
            type="button"
            class="btn dropdown-toggle px-5 bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Level
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cesi</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">ESAIP</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">ESSCA Business Scho</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">TOULOUSE Business S </a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 mb-3">
        <div class="btn-group">
          <button
            type="button"
            class="btn dropdown-toggle px-5 bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Budget
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">2000</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">3000</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">4000</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">5000</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 mb-3 Language">
        <div class="btn-group">
          <button
            type="button"
            class="btn dropdown-toggle px-5 bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Language
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">French</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 mb-3">
        <div class="btn-group">
          <button
            type="button"
            class="btn dropdown-toggle px-5 bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Select City
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Paris</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Reims</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Paris, Oxford, Dubai</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-responsive mt-3 ms-2">
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
              filter
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body d-flex flex-column justify-content-center align-items-center"
          >
            <div class="btn-group w-100 my-4">
              <button
                type="button"
                class="btn dropdown-toggle px-5 bg-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                School
              </button>
              <ul class="dropdown-menu ms-5">
                <li><a class="dropdown-item" href="#">Cesi</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">ESAIP</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">ESSCA Business Scho</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">TOULOUSE Business S </a>
                </li>
              </ul>
            </div>
            <div class="btn-group w-100 mb-4">
              <button
                type="button"
                class="btn dropdown-toggle px-5 bg-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Field
              </button>
              <ul class="dropdown-menu ms-5">
                <li>
                  <a class="dropdown-item" href="#">Business and management</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Computer science</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Engineering and technology
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Arts, Design </a></li>
              </ul>
            </div>
            <div class="btn-group w-100 mb-4">
              <button
                type="button"
                class="btn dropdown-toggle px-5 bg-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Level
              </button>
              <ul class="dropdown-menu ms-5">
                <li><a class="dropdown-item" href="#">Cesi</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">ESAIP</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">ESSCA Business Scho</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">TOULOUSE Business S </a>
                </li>
              </ul>
            </div>
            <div class="btn-group w-100 mb-4">
              <button
                type="button"
                class="btn dropdown-toggle px-5 bg-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Budget
              </button>
              <ul class="dropdown-menu ms-5">
                <li><a class="dropdown-item" href="#">2000</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">3000</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">4000</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">5000</a></li>
              </ul>
            </div>
            <div class="btn-group w-100 mb-4">
              <button
                type="button"
                class="btn dropdown-toggle px-5 bg-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Language
              </button>
              <ul class="dropdown-menu ms-5">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">French</a></li>
              </ul>
            </div>
            <div class="btn-group w-100 mb-4">
              <button
                type="button"
                class="btn dropdown-toggle px-5 bg-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Select City
              </button>
              <ul class="dropdown-menu ms-5">
                <li><a class="dropdown-item" href="#">Paris</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Reims</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Paris, Oxford, Dubai</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary"
              data-bs-target="#exampleModalToggle2"
              data-bs-toggle="modal"
            >
              save
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      class="filter-btn"
      data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal"
    >
      filter
    </button>
  </div>
</header>
<section id="program-cards">
  <div class="container my-5">
    <div
      *ngIf="loading"
      class="loading d-flex justify-content-center align-content-center py-5"
    >
      <i class="fa-solid fa-spinner fa-spin fa-spin-reverse fa-2xl"></i>
    </div>
    <div *ngIf="!loading">
      <div class="row">
        <div
          class="col-xl-3 col-lg-4 col-md-6"
          *ngFor="let program of programs"
        >
          <div class="oneProgram mt-4 p-2">
            <div class="cover-container">
              <img
                [src]="program.coverpic"
                alt="Cover Image"
                class="cover-image"
              />
              <img
                [src]="program.logopic"
                alt="Logo Image"
                class="logo-image"
              />
              <i class="fa-regular fa-heart love-icon fa-lg"></i>
            </div>
            <div class="content mt-5">
              <div class="d-flex justify-content-between">
                <p class="category rounded-pill px-2 py-1 text-center">
                  {{ program.category | programCategory }}
                </p>
                <p class="fee rounded-pill px-2 py-1 text-center">
                  €{{ program.fee }}
                </p>
              </div>
              <h6>{{ program.progName | progName }}</h6>
              <p class="fw-bolder">FIGS : ICD</p>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-regular fa-calendar text-muted me-2"></i>
                  <span>{{ program.start_date }}</span>
                </div>
                <div>
                  <i class="fa-regular fa-clock text-muted me-2"></i>
                  <span class="text-muted">2 years</span>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div>
                  <i class="fa-solid fa-earth-americas text-muted me-2"></i>
                  <span>{{ program.lang }}</span>
                </div>
                <div>
                  <i class="fa-solid fa-location-dot text-muted me-2"></i>
                  <span class="text-muted">{{ program.city }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pagination">
      <app-pagination></app-pagination>
    </div>
  </div>
</section>
