<section
  class="pt-3 mt-1 pb-3 d-flex justify-content-center align-items-center text-center"
>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link rounded-circle mx-1 mt-1 border-0"
          href="#"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-circle ms-1 me-2 mt-1 fs-6 num" href="#"
          >1</a
        >
      </li>
      <li class="page-item">
        <a class="page-link rounded-circle mx-2 mt-1 fs-6 num" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-circle mx-2 mt-1 fs-6 num" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-circle mx-2 mt-1 fs-6 num" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-circle me-1 ms-2 mt-1 fs-6 num" href="#"
          >5</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link rounded-circle mx-1 border-0 mt-1"
          href="#"
          aria-label="Next"
        >
          <span aria-hidden="true"
            ><i class="fa-solid fa-angle-right"></i
          ></span>
        </a>
      </li>
    </ul>
  </nav>
</section>
